.icon-prefix {
  display: none;
}

.custom-date-input::-webkit-calendar-picker-indicator {
  background-color: rgb(130, 129, 129);
  border-radius: 4px;
  display: none;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  display: none;
}

.time-input input,
.date-input input {
  cursor: pointer;
}

.total-form .main-input .input {
  display: flex;

  border-radius: 8px;
  align-items: center;
}

.custom-time-icon,
.custom-calendar-icon {
  padding-right: 10px;
  cursor: pointer;
}

.total-form .main-input .time-input input:focus,
.total-form .main-input .date-input input:focus {
  box-shadow: none;
  border: unset !important;
}
