@import "../../../App.scss";

.resetPassword-wrapper {
  height: 100vh;
  width: 100vw;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  // background: linear-gradient(90deg, transparent 40%, #264a99 38%);
  background-image: linear-gradient(
    90.1deg,
    rgba(84, 212, 228, 1) 0.2%,
    rgba(68, 36, 164, 1) 99.9%
  );

  .newforgotPassword-section {
    width: 60%;
    height: 69vh;
    display: flex;
    overflow: hidden;
    border-radius: 11px;
    padding: 10px;
    background-color: #fff;
    border: 4px solid #fff;
    box-shadow: 0px 0px 20px 2px rgba(73, 80, 87, 0.1803921569);
    gap: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .resetpassword-left-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      border-radius: 28px;

      img {
        width: 86%;
        height: 84%;
        border-radius: 1.6rem;
      }
    }
    .resetpassword-right-wrapper {
      width: 80%;
      height: 100%;

      .logo-wrapper {
        text-align: right;
        // display: none;
      }
    }

    .employee-login-form {
      .total-form {
        margin-bottom: 0;
      }
    }
  }
}

.line-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  .vertical-line {
    position: absolute;
    height: 0;
    width: 28vw;
    background-color: #f8f9fa;
    margin: 0;
    transform: rotate(89deg);
  }
}

//media queries

@include LaptopA {
  .resetPassword-wrapper .newforgotPassword-section {
    width: 63%;
    height: 65vh;
  }
}

@include Zmobile {
  .resetPassword-wrapper .newforgotPassword-section {
    width: 69%;
  }
}

@include LaptopD {
  .resetPassword-wrapper .newforgotPassword-section {
    width: 70%;
  }
}

@include LaptopB {
  .resetPassword-wrapper .newforgotPassword-section {
    width: 80%;
  }
}

@include AMmobile {
  .resetPassword-wrapper .newforgotPassword-section {
    width: 88%;
  }
}

@include TabletA {
  .resetPassword-wrapper .newforgotPassword-section {
    width: 90%;
  }
}

@include mobile {
  .resetPassword-wrapper .newforgotPassword-section {
    width: 93%;
    height: 70vh;
  }
}

@include TabletB {
  .resetPassword-wrapper .newforgotPassword-section {
    width: 80%;
  }
}

@include Fmobile {
  // .resetPassword-wrapper .newforgotPassword-section .resetpassword-left-wrapper {
  //   width: 82%;
  // }
  .resetPassword-wrapper .newforgotPassword-section {
    width: 95%;
    height: 65vh;
  }
}

@include Bmobile {
  .resetPassword-wrapper .newforgotPassword-section {
    width: 64%;

    .login-right-wrapper {
      width: 100%;
    }
  }

  .resetPassword-wrapper
    .newforgotPassword-section
    .resetpassword-right-wrapper {
    width: 100%;
  }

  .resetPassword-wrapper
    .newforgotPassword-section
    .resetpassword-left-wrapper {
    display: none;
  }
  .line-wrapper {
    display: none;
  }
}

@include SLmobile {
  .resetPassword-wrapper .newforgotPassword-section {
    width: 80%;
  }
}

@include Smobile {
  .resetPassword-wrapper .newforgotPassword-section {
    width: 90%;
  }
}
