.today-attendance {
  .employee-card {
    gap: 0px;
  }
  .tables {
    // border-radius: 10px;
    // width: 95%;
    // height: auto;
    // max-height: 99%;
  }

  .actions {
    .edit {
      background-color: rgb(73, 182, 245, 0.15);
      color: #49b6f5;
    }
  }
}
