// Default fontfamily
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

@import "./App.scss";
@import "./components/AdminRoutes/EmployeeForm/EmployeeForm/EmployeeForm.scss";
@import "./components/AdminRoutes/chat/chat.scss";
@import "./components/AdminRoutes/EmployeeList/EmployeeList.scss";
@import "./components/AdminRoutes/AdminControls/RolesTable/Modal/Modal.scss";
@import "./components/AdminRoutes/AdminControls/RolesTable/RolesTable.scss";
@import "./components/common/ALLINPUTS/AllInputs.scss";
@import "./components/common/Footer/Footer.scss";
@import "./components/common/LaptopSidebar/LaptopSidebar.scss";
@import "./components/dashbord/ApplyLeave/ApplyLeave.scss";
@import "./components/dashbord/BirthdaysAndNewHires/BirthdaysAndNewHires.scss";
@import "./components/dashbord/CheckIn/CheckIn.scss";
@import "./components/dashbord/DashBoard/Dashboard.scss";
@import "./components/AdminRoutes/AdminDashboard/AdminDashboard2.scss";
@import "./components/EmployeeRoutes/EmployeeAttendanceTable/EmployeeAttendanceTable.scss";
@import "./components/EmployeeRoutes/Employeeprofile/EmployeeProfile.scss";
@import "./components/Logins/AdminLoginPage/AdminLoginForm.scss";
@import "./components/Logins/EmployeeLoginPage/EmployeeLoginForm.scss";
@import "./components//common/Calender/Calender.scss";
@import "./components/Logins/Login.scss";
@import "./components/Stepper/Stepper.scss";
@import "./components/SVGCircler/Circular.scss";
@import "./components/common/Sidebar/Sidebar.scss";
@import "./components/common/Header/Header.scss";
@import "./components/AdminRoutes/AdminFetchingSingleEmployeeData/AdminSingleEmployeeData.scss";
@import "../src/components/common/Calender/Calender.scss";
@import "../src/components/common/Themes/Themes.scss";
@import "../src/components/AdminRoutes/AdminControls/AdminSettingOrgWorkingDays/AdminSettingOrgWorkingDays.scss";
@import "../src/components/AdminRoutes/Companydetails/CompanyDetail.scss";

@import "../src/components/AdminRoutes/EmployeeLeaveApplications/AdminAcceptedLeaveApplication.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  //   font-family: "MonaSans-Regular", sans-serif;
  scrollbar-width: none;
}

a {
  color: unset;
  text-decoration: none;
}

.lh-0 {
  line-height: 0;
}

.bg-primary {
  background-color: #6c63fc !important;
  color: #fff;
}

.form-control {
  &::placeholder {
    color: #777e84 !important;
    font-size: 0.8rem;
  }

  &:focus {
    box-shadow: none;
    border: 1px solid rgb(108, 99, 252, 0.3);
  }
}

.text-muted {
  color: #777e84 !important;
}

.text-primary {
  color: #6c63fc !important;
}

.btn-group {
  cursor: pointer;
}

.btn-primary {
  background-color: #6c63fc !important;
  border: 0;
  color: #fff;
}

.badge-success {
  background-color: rgba(0, 201, 170, 0.2);
  color: #00c9aa;
}

.badge-warning {
  background-color: rgb(255, 199, 104, 0.2);
  color: #ffc768;
}

.badge-info {
  background-color: rgba(0, 204, 239, 0.2);
  color: #00ccef;
}

.badge-orange {
  background-color: rgba(255, 156, 122, 0.2);
  color: #ff9c7a;
}

.default-border {
  border: 1px solid #e8e1e1;
}

body {
  width: 100vw;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: "Lato", sans-serif;
  font-size: 0.9rem;
  font-stretch: normal;
  font-style: normal;
  font-weight: 500;
  line-height: 1.1;
}

.hr_portal_layout {
  display: flex;
  width: 100%;
  // background:#131e29 !important;
}

img {
  max-width: 100%;
}

.content-pages {
  overflow-y: scroll;
  scrollbar-width: none;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  max-height: 80vh;
  width: 100%;
  margin: 1rem 0 0;
  overflow: hidden auto;
  padding-top: 0;
  scrollbar-width: none;
}

.load {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  // padding: 10px;
  span {
    width: 20px !important;
    height: 20px !important;
  }
}

.heading {
  // padding-top: 8px;
  height: 20px;
  padding-left: 10px;
  font-size: 1.1rem;
}

button {
  transition: 0.1s;
}

table,
td,
th {
  border: 1px solid #eff0f6;
}

.map-component {
  width: 100vw;
  height: 100vh;
  background: rgb(0, 0, 0);
  z-index: 100000000;
}

.table-span {
  padding: 7px 10px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  min-width: 80px;
  max-width: 80px;
  justify-content: center;
}

.profile-form {
  hr {
    display: none;
  }

  .basic-row {
    margin-bottom: 20px;
  }
}

.new-basic-row {
  hr {
    display: block;
  }
}

select option {
  margin: 10px;
  padding: 5px;
  min-height: 2em;
}

.global-loading {
  width: 18px;
  height: 18px;
  position: relative;
}

.d1,
.d2 {
  border: 3px solid #27272b;
  border-radius: 50px;
}

.global-loading .d1 {
  width: 17px;
  height: 17px;
  position: absolute;
  border-left-color: transparent;
  animation: load161 1s linear infinite;
}

.global-loading .d2 {
  width: 8px;
  height: 8px;
  border-top-color: transparent;
  border-right-color: transparent;
  margin: 5px;
  animation: load2812 1.5s linear infinite;
}

@keyframes load161 {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes load2812 {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(-360deg);
  }
}

.admin_dashboard {
  .admin-icons {
    svg {
      padding: 7px;
      background: #3c3f4d;
      border-radius: 10px;
      color: #fff;
      font-size: 2.5rem;
    }
  }
}

button:disabled,
button[disabled] {
  // background-color: #9d9d9de4 !important;w
  // opacity: 0.5;
  filter: brightness(50%);

  .load {
    span {
      filter: brightness(150%);
    }
  }
}

button {
  transition: 0.1s;
}

.map-component {
  width: 100vw;
  height: 100vh;
  background: rgb(0, 0, 0);
  z-index: 100000000;
}

.table-span {
  padding: 7px 10px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  min-width: 80px;
  max-width: 80px;
  justify-content: center;
}

input {
  text-transform: capitalize;
}

input[type="email"] {
  text-transform: none;
}

input[type="date"] {
  text-transform: none;
}

// today attendance page styles
.today-attendance {
  border-radius: 10px;
  width: 95%;
  height: 78vh;
  margin: auto;
  max-height: 100%;
  overflow: scroll;

  .today-attendance-wrapper {
    display: flex;
    justify-content: space-between;

    .date-input {
      display: flex;
      gap: 10px;
      align-items: center;

      button {
        padding: 10px;
        border-radius: 6px;
        background-color: #6c63fc;
        color: #fff;
        border: none;
      }
    }

    .tabs {
      display: flex;
      align-items: center;
      gap: 10px;

      button {
        padding: 10px;
        border-radius: 6px;
        background-color: #6c63fc;
        color: #fff;
        border: none;
      }
    }
  }
}

// All input styles
.input.custom-select {
  select {
    text-transform: capitalize !important;
  }
}

.otp-container {
  background: #fff;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

#timer {
  font-weight: bold;
  color: red;
}

.add-locations {
  padding-inline: 2rem;

  .dropdown-center {
    padding-left: 0;
  }

  .location-list {
    height: 160px;
    overflow-y: auto;
  }
}

.outlet-pages {
  border-radius: 10px;
  width: 95%;
  height: auto;
  margin: auto;
}

.dropdown-menu {
  font-size: 0.9rem;
  border: none;
  -webkit-box-shadow: 0px 3px 21px 0px #0003;
  box-shadow: 0px 3px 21px 0px #0003;
  z-index: 9999;

  .dropdown-item {
    font-size: 0.873rem;
    font-weight: 400;
    padding: 0.375rem 0.938rem;
    display: flex;
    gap: 5px;
    align-items: center;
  }

  .dropdown-item:is(.active, :active) {
    color: #ffffff;
    text-decoration: none;
    background-color: #4b49ac;
  }
}

.custom-tooltip {
  font-size: 11px !important;
  --bs-tooltip-bg: #413f64;
  --bs-tooltip-color: #fff;
}

.word-break {
  word-break: break-all;
}

.form-check-input {
  // width: 3.3rem !important;
  // height: 1.8rem;

  width: 2.3rem !important;
  height: 1.3rem;

  &:checked {
    background-color: #6c63fc;
    border-color: #6c63fc;
  }
}

// roles page styles
.roles-department {
  width: 95%;
  margin: auto;

  .categorys {
    width: 100%;
    margin-left: 0;
  }

  .roles-table {
    width: 100%;

    .form-button button {
      margin-top: 5px !important;
    }

    .role-cards {
      cursor: pointer;
    }

    .leave-cards {
      .row .card {
        cursor: pointer;
        overflow: hidden;
      }
    }

    .shift-cards {
      .row .card {
        cursor: pointer;
        overflow: hidden;
      }
    }
  }
}

// roles page - shifts styles
.admin-controls-card {
  padding: 1rem;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  cursor: pointer;
  border: 1px solid #e8e1e1;
  height: 350px;

  .checkIn-time {
    display: flex;
    justify-content: space-between;
    // grid-template-columns: repeat(4, 1fr);
  }

  .grace-period {
    padding: 10px 0;
    border-radius: 10px;
    text-align: center;
    width: fit-content;
    // margin: auto;
  }

  .totol-workingDays {
    text-align: right;
    margin-top: 10px;

    p {
      margin: 0;
    }
  }

  h5 {
    // text-align: center;
    // border-bottom: 1px solid #bcbcbc83;
    padding-bottom: 10px;
    text-transform: capitalize;
  }

  hr{
    border: 1px solid #dcdcdc;
    margin:8px 0px;
    

  }
}


.text-capitalize {
  text-transform: capitalize;
}

//employee attendence calender styles

.modal.show .modal-dialog.checkin-checkout-model {
  transform: translate(43%, 44vh);
}

.modal-content.employee-calenderView-model {
  width: 180px;
  padding: 0;
  border-radius: 5px;

  .calenderView-model-body {
    padding: 6px 13px;
  }

  .calenderView-model-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin-bottom: 10px;
    border-bottom: 1px solid lightgray;

    button.close {
      border: none;
      background: transparent;
      font-size: 25px;
    }
  }

  .attendence-check-in p:first-child {
    color: #016e5e;
  }
  .attendence-check-out p:first-child {
    color: #c92100;
  }

  .attendence-check-in,
  .attendence-check-out {
    display: flex;
    justify-content: space-between;
    text-wrap: nowrap;
  }
}

// employee attendence table view
.year-month-day-selects {
  button {
    border-radius: 5px;
    padding: 5px 10px;
    border: none;
    margin-bottom: 1rem;
  }
  .filter-btn {
    background-color: #6c63fc !important;
    color: #fff;
  }
}

// all employee attendance - cardview (for Admin)

.admin_all_employees-cardView {
  height: 100%;
  overflow: hidden scroll;
}

.late-checkin-data {
  width: 100%;
  padding: 0.7rem 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 18px;
  border-radius: 10px;

  p {
    margin: 0;
  }

  .late-checkin-heading {
    display: flex;
    align-items: center;
    gap: 7px;
    margin-left: 6px;
    font-size: 1.2rem;

    .count {
      // border: 1px solid gray;
      border-radius: 50%;
      padding: 5px;
      font-size: 12px;
      font-weight: bold;
    }
    .late-count {
      background-color: #009dff2f;
      color: #3700ff;
    }
    .leave-count {
      background-color: rgba(255, 0, 0, 0.185);
      color: red;
    }
    .checkin-count {
      background-color: #00c9ab3a;
      color: green;
    }
  }

  .late-checkin-info {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;

    .late-checkin-individual:hover {
      // background-color: #eaeded;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      cursor: pointer;
    }

    .late-checkin-individual {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 22px;
      border: 1px solid #c9c9c9;
      padding: 15px;
      border-radius: 8px;
      width: 200px;
      width: fit-content;

      .individual-names {
        display: flex;
        align-items: center;
        gap: 10px;
        // background-color: #6c63fc33;
        // padding: 5px;
        // border-radius: 8px;

        .status {
          border-radius: 11px;
          padding: 10px;
          font-size: 13px;
          align-items: center;
          display: flex;
          justify-content: center;
          height: 20px;
        }

        .in-status {
          background-color: #00c9ab3a;
          color: green;
        }
        .out-status {
          background-color: rgba(255, 0, 0, 0.185);
          color: red;
        }

        .late-status {
          background-color: #009dff2f;
          color: #3700ff;
        }

        .individual-name {
          font-size: 16px;
          font-weight: bold;
          margin-bottom: 8px;
        }

        .individual-id {
          font-size: 13px;
          font-weight: bold;
        }

        img {
          width: 45px;
          border-radius: 50px;
        }
      }

      .time,
      .late-time {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 10px;
      }
    }
  }
}

// otp clock animation
//new
.loader {
  width: 24px;
  height: 24px;
  border: 2px solid #212529b0;
  border-radius: 50px;
  position: relative;
}

.loader span {
  display: block;
  background: #212529b0;
}

.loader .hour,
.loader .min {
  width: 1.5px;
  height: 7px;
  border-radius: 50px;
  position: absolute;
  top: 10px;
  left: 9px;
  animation: load9243 4s linear infinite;
  transform-origin: top center;
}

.loader .min {
  height: 6px;
  animation: load9243 8s linear infinite;
}

.loader .circel {
  width: 3px;
  height: 3px;
  border-radius: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-2px, -2px);
  // animation: blink 1s infinite;
}

@keyframes load9243 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
  


// otp page

.circular-progress {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.inner-circle {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: calc(40px - 5px);
  height: calc(40px - 5px);
  border-radius: 50%;
  background-color: white;
}

.percentage {
  position: relative;
  font-size: 0.875rem;
}

/* styles.module.css */
.rangeLabels {
  text-align: center;
}

.rangeLabel {
  margin-right: 20px;
}

.chartContainer {
  margin-top: 20px;
  position: relative;
}

.chartLabel {
  position: absolute;
  color: #0b0a0a;
  font-size: 12px;
  font-weight: bold;
}


.leave-status {
  font-weight: bold;
}

.status-pending {
  color: orange;
}

.status-approved {
  color: green;
}

.status-rejected {
  color: red;
}
